parent_config: frcnn_baseline
archi:
    name: frcnn
dataset:
    name: pascal_extended
    path: /local/DEEPLEARNING/pascalvoc/VOCdevkit/VOC2007
    train: trainval
    nb_classes: 24
image:
    resize_mode: square
    img_size: 448
    nb_channels: 3
    mean_pixel:
        - 123.7
        - 116.8
        - 103.9
batch_size: 8
test_batch_size: 8
training:
    nb_epoch: 20
    optimizer: sgd
    start_lr: 0.001
    lr_momentum: 0.9
    weight_decay: 0.0001
    skip_val: true
    validation_steps: 50
callback:
    val_cb: map